{% extends 'layouts/base.html' %}
{% block header %}
<h1>{% block title %}Mes tâches{% endblock %}</h1>
{% endblock %}

{% block content %}
<header class="bg-white space-y-4 p-4 sm:px-8 sm:py-6 lg:p-4 xl:px-8 xl:py-6">
    <div class="flex items-center justify-between">
        <h2 class="font-semibold text-slate-900">Mes tâches</h2>
        <a href="/new"
           class="hover:bg-blue-400 group flex items-center rounded-md bg-blue-500 text-white text-sm font-medium pl-2 pr-3 py-2 shadow-sm">
            <svg width="20" height="20" fill="currentColor" class="mr-2" aria-hidden="true">
                <path d="M10 5a1 1 0 0 1 1 1v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3H6a1 1 0 1 1 0-2h3V6a1 1 0 0 1 1-1Z"/>
            </svg>
            Nouveau
        </a>
    </div>
    <table border="1">
        <thead>
        <tr>
            <th> Id</th>
            <th> Titre</th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
        <tr>
            <td> {{ todo.id}}</td>
            <td> {{ todo.title}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</header>

{% endblock %}
<!doctype html>